@charset "UTF-8";

@import url("common.css");
@import url("nav.css");

/* = SP ================================================ */

.n-wrapper{
  margin-top: 100px;
}
.gray-area{
  position: relative;
  background: var(--background);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.n-content{
  width: 100%;
  padding: 28px 0;
}
.n-disc{
  font-size: 1.4rem;
  color: var(--black);
}
.n-disc:not(:last-child){
  margin-bottom: 20px;
}
.n-disc span,.n-disc a{
  display: block;
  line-height: 1.5;
  word-break: break-all;
  white-space: nowrap;
}
.disc-r{
  letter-spacing: 0.05em;
}


/* ===================================================== */

/* = PC ================================================ */

@media screen and (min-width:980px) {

  .n-wrapper{
    margin-top: 130px;
  }
  .gray-area{
    padding-left: 48px;
    padding-right: 48px;
  }
  .n-content{
    width: 100%;
    padding: 48px 0;
  }
  .n-disc{
    font-size: 1.6rem;
  }
  .n-disc:not(:last-child){
    margin-bottom: 22px;
  }
  .n-disc span,.n-disc a{
    line-height: 1.6;
  }
  .pc-none{
    display: none;
  }

}

/* ===================================================== */
