@charset "UTF-8";

@import url("common.css");
@import url("nav.css");
@import url("pager.css");


/* = SP ================================================ */

.n-wrapper{
  margin-top: 110px;
}
.gray-area{
  position: relative;
  background: var(--background);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.n-content{
  width: 100%;
  padding: 28px 0;
}
.n-t-group{
  margin-bottom: 20px;
}
.n-title{
  flex: 1;
  text-align: left;
}
.n-time{
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  margin-bottom: 6px;
}
.title span{
  display: block;
  font-size: 1.6rem;
  line-height: 1.25;
}
.a-img{
  max-width: 58px;
  margin-left: 10px;
}
.n-disc{
  font-size: 1.4rem;
  color: var(--black);
  opacity: .8;
  text-align: justify;
}
.n-disc:not(:last-child){
  margin-bottom: 20px;
}
.n-disc span,.n-disc a{
  display: block;
  line-height: 1.5;
  word-break: break-all;
}


/* ===================================================== */

/* = TAB ================================================ */

@media screen and (min-width:600px) {

  .gray-area{
    padding: 0 34px;
  }
  .n-content{
    padding: 38px 0;
  }

}

/* ===================================================== */

/* = PC ================================================ */

@media screen and (min-width:980px) {

  .n-wrapper{
    margin-top: 130px;
  }
  .gray-area{
    padding: 0 48px;
  }
  .n-content{
    width: 100%;
    padding: 48px 0;
  }
  .n-t-group{
    margin-bottom: 22px;
  }
  .n-time{
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  .title span{
    font-size: 2rem;
    line-height: 1.375;
  }
  .a-img{
    max-width: 80px;
  }
  .n-disc{
    font-size: 1.6rem;
  }
  .n-disc:not(:last-child){
    margin-bottom: 22px;
  }
  .n-disc span,.n-disc a{
    line-height: 1.6;
  }

}

/* ===================================================== */
